{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
ENCOFRADOS 
{% endblock title %}

{% block contenido1 %}

<!-- Titlebar
================================================== -->
<section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.45" data-height="160">

	<img src="" alt="" />
	<div class="parallax-overlay"></div>

	<div class="parallax-content">
		<h2>INFORMACION<span></span></h2>

		<nav id="breadcrumbs">
			<ul>
			</ul>
		</nav>
	</div>
</section>


<div class="container">

<!-- Tabs
================================================= -->
	<div class="eight columns">
		<h3 class="headline">Imformación</h3><span class="line margin-bottom-3-"></span><div class="clearfix"></div>

		<!-- Tabs Navigation -->
		<ul class="tabs-nav">
			<li class="active"><a href="#tab1"></a></li>
			
		</ul>

		<!-- Tabs Content -->
		<div class="tabs-container">
			<div class="tab-content" id="tab1">Encofrados y Construcciones Granda se inicia en el mes de junio de 1995 empieza como una empresa independiente a cargo del Sr. Francisco Granda. Hoy en día la empresa se encuentra constituida legalmente y cumple con todos los requisitos que exige la ley. Se encuentra ubicada en el barrio El Pedestal en la avenida Manuel Carrión Pinzano entre Manuel Palacios y Eplicachima.</div>
			
		</div>

	<br>
	</div>


<!-- Accordion
================================================== -->
	<div class="eight columns">
		<h3 class="headline">Accordions</h3><span class="line margin-bottom-35"></span><div class="clearfix"></div>

			<!-- Accordion -->
			<div class="accordion">

				<!-- Section 1 -->
				<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="fa fa-user"></i> Mision</h3>
				<div>
					<p>Satisfacer plenamente las necesidades y expectativas de nuestros clientes mediante la prestación de los diferentes servicios de la empresa tales como: alquiler de encofrado, maquinaria y equipo de fundición, con el fin de lograr el fortalecimiento y liderazgo empresarial en beneficio propio y de la ciudad de Loja. Como toda organización seria y responsable, tenemos muy claras las metas,
					Propósitos y objetivos, fundamentados esencialmente en la capacidad, honradez, eficiencia y transparencia en las gestiones puestas bajo nuestro cuidado y realización.
					</p>
				</div>

				<!-- Section 2 -->
				<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="fa fa-user"></i> Vision </h3>
				<div>
					<p>Posicionarnos como la  mejor y la más completa empresa prestadora de servicios auxiliares para la construcción de la ciudad de Loja, satisfaciendo las necesidades y expectativas de nuestros clientes. Una empresa especializada y certificada que entregue sus servicios de calidad, competitividad y profesionalismo siempre a la vanguardia de la modernidad, repercutiendo de forma muy positiva y proactiva en el mercado.</p>
				</div>

			</div>
			<!-- Accordion / End -->
	</div>

<div class="clearfix"></div>
<br>


<!-- Content Boxes
================================================== -->
	<!--<div class="sixteen columns">
		<h3 class="headline">Content Boxes</h3><span class="line margin-bottom-35"></span><div class="clearfix"></div>
	</div>

	<div class="four columns">
		<a href="#">
		<div class="content-box color-effect-1">
			<h3>Effect #1</h3>

				<div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
					<div class="box-icon"><i class="fa fa-bolt"></i></div>
				</div>

			<p>Integer ultrices scelerisque nulla fringilla. Praesent leo massa, ullamcorper venenatis tempor.</p>
		</div>
		</a>
	</div>
	
	<div class="four columns">
		<a href="#">
		<div class="content-box color-effect-2">
			<h3>Effect #2</h3>
				<div class="box-icon-wrap box-icon-effect-2 box-icon-effect-2a">
					<div class="box-icon"><i class="fa fa-globe"></i></div>
				</div>
			<p>Vestibulum non nibh porttitor, eleifend purus eu, pulvinar orci gravida lobortis magna.</p>
		</div>
		</a>
	</div>

	<div class="four columns">
		<a href="#">
		<div class="content-box color-effect-3">
			<h3>Effect #3</h3>
				<div class="box-icon-wrap box-icon-effect-3 box-icon-effect-3a">
					<div class="box-icon"><i class="fa fa-cogs"></i></div>
				</div>
			<p>Vestibulum non nibh porttitor, eleifend purus eu, pulvinar orci gravida lobortis magna.</p>
		</div>
		</a>
	</div>
	
	<div class="four columns">
		<a href="#">
		<div class="content-box color-effect-4">
			<h3>Effect #4</h3>
				<div class="box-icon-wrap box-icon-effect-4 box-icon-effect-4a">
					<div class="box-icon"><i class="fa fa-paw"></i></div>
				</div>
			<p>Integer ultrices scelerisque nulla fringilla. Praesent leo massa, ullamcorper venenatis tempor.</p>
		</div>
		</a>
	</div>


<div class="clearfix"></div>
<br> -->
{% endblock %}



