{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
ENCOFRADOS 
{% endblock title %}

{% block contenido7 %}

<h2>LISTADO DE PRODUCTOS</h2>
<a href="{% url 'producto:producto_nuevo' %}">NUEVO</a>
<a href="{% url 'producto:producto_tipo_listar' %}">TIPO-PRODUCTO</a>
<table  class="cart-table responsive-table">
  <tr>
    <th>Nombre</th>
    <th>Precio dia</th>
    <th>Precio semanal</th>
    <th>Precio mensual</th>
    <th>Descripcion</th>
    <th>Stock</th>
    <th>Tipo producto</th>
    <th>Acción</th>                         
	
  </tr>

<ul>
{% for producto in productos %}
	<tr>
		<td>{{ producto.nombre }}</td>
	    <td>{{ producto.precio_dia }}</td>
	    <td>{{ producto.precio_semanal }}</td>
	    <td>{{ producto.precio_mensual }}</td>
	    <td>{{ producto.descripcion }}</td>
	    <td>{{ producto.stock }}</td>
	    <td>{{ producto.tipo_producto }}</td>
	    <td>
	    	<a class="btn btn-primary" href="{% url 'producto:producto_editar' producto.id %}">editar</a>
	    	<a class="btn btn-primary" href="{% url 'producto:producto_eliminar' producto.id %}">dar de baja</a>
	    </td>

			
	</tr>
    
{% endfor %}
</ul>

</table>

	
	
{% endblock %}